{{#partial "contenido"}}
    <div class='container'>
        <h2>Modificar contraseña</h2>

        <form method='POST' action="/nueva-contrasenia" class="row g-3" role="form">
            <div class='mb-3'>
                <label>Contraseña actual</label>
                <input type='password' name='contraseniaActual' class='form-control' placeholder='Contraseña actual'/>
            </div>
            <div class='mb-3'>
                <label>Nueva contraseña</label>
                <input type='password' name='contraseniaNueva' class='form-control' placeholder='Nueva contraseña'/>
            </div>
            <div class='mb-3 form-check'>
                <label>Confirmar nueva contraseña</label>
                <input type='password' name='contraseniaNueva1' class='form-control' placeholder='Nueva contraseña'/>
            </div>
            <button type='submit' class='boton'><span>Modificar contraseña</span></button>
        </form>

        {{#if error}}
            <div class='alert alert-danger' role='alert'>
                {{error}}
            </div>
        {{/if}}
        {{#if contraseniaModificada}}
            <div class='alert alert-success' role='alert'>
                La contraseña ha sido modificada con éxito.
            </div>
        {{/if}}
    </div>

{{/partial}}
{{> layouts/main }}