{{#partial "contenido"}}
    <section class='container-fluid d-flex not-found'>
        <div class="">
            <h2>404</h2>
            <p>Página no encontrada</p>
            <p>Lo sentimos, pero la página que buscas no existe.</p>
            <a href="/">Volver al inicio</a>
        </div>
    </section>

{{/partial}}
{{> layouts/main }}