{{#partial "contenido"}}
    <!-- Banner -->
    <section class='container-fluid d-flex banner'>
        <div class='row overlay-banner'>
            <div class='row align-items-center justify-content-center animate__animated animate__zoomIn'>
                <div class='col-lg-auto col-sm-12 d-flex'>

                </div>
            </div>
        </div>
    </section>
    <!-- Fin Banner -->

    <section class='container niveles'>
        <div class='row justify-content-between'>
            <div class='col-lg-4 col-md-4 col-sm-6 animate__animated animate__fadeInDown animate__delay-1s'>
                <div class='nivel'>
                    <a href='#'>
                        <div class='img-nivel'>
                            <a href="/colaborar">
                                <img src='images/pic08.jpg' alt='Colaborar'/>
                            </a>
                        </div>
                        <a href="/colaborar">
                            <h2>Colaborar</h2>
                        </a>
                    </a>
                </div>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-6 animate__animated animate__fadeInDown animate__delay-2s'>
                <div class='nivel'>
                    <a href='#'>
                        <div class='img-nivel'>
                            <a href="/heladeras">
                                <img src='images/pic08.jpg' alt='Heladeras'/>
                            </a>
                        </div>
                        <a href="/heladeras">
                            <h2>Heladeras</h2>
                        </a>
                    </a>
                </div>
            </div>

            <div class='col-lg-4 col-md-4 col-sm-6 animate__animated animate__fadeInDown animate__delay-3s'>
                <div class='nivel'>
                    <a href='#'>
                        <div class='img-nivel'>
                            <a href="/catalogo">
                                <img src='images/pic08.jpg' alt='Catálogo'/>
                            </a>
                        </div>
                        <a href="/catalogo">
                            <h2>Catálogo</h2>
                        </a>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Misión -->
    <section class='bg-gris s-pad'>
        <div class='container'>
            <div class='row justify-content-between'>
                <div class='col-lg-4 col-sm-12 mision'>
                    <h2>Misión<br/>Institucional</h2>
                    <p>Nuestra misión es garantizar el acceso equitativo a una alimentación saludable y suficiente para
                        todas las personas que se encuentran en contextos de vulnerabilidad socioeconómica. <br>
                        A través de la implementación de un sistema inclusivo y sostenible, buscamos mejorar la
                        seguridad alimentaria y promover la resiliencia de las comunidades, fomentando su bienestar
                        integral y su autonomía.</p>
                </div>

                <div class='col-lg-7 col-sm-12'>
                    <div class='mision-grid'>
                        <div class='rell'></div>
                        <div class='tarjeta tarj1'>
                            <i class='bi bi-people mision-icon'></i>
                            <h4>Equidad</h4>
                            <p>Nos comprometemos a garantizar que todos, sin importar su situación económica o social,
                                tengan acceso a alimentos nutritivos y suficientes.</p>
                        </div>
                        <div class='tarjeta tarj2'>
                            <i class='bi bi-box2-heart mision-icon'></i>
                            <h4>Solidaridad</h4>
                            <p>Fomentamos la cooperación y el apoyo mutuo entre individuos y comunidades.</p>
                        </div>
                        <div class='tarjeta tarj3'>
                            <i class='bi bi-people mision-icon'></i>
                            <h4>Transparencia</h4>
                            <p>Actuamos con integridad y claridad en todas nuestras operaciones.</p>
                        </div>
                        <div class='tarjeta tarj4'>
                            <i class='bi bi-chevron-double-up mision-icon'></i>
                            <h4>Innovación</h4>
                            <p>Buscamos constantemente nuevas formas de abordar los desafíos alimentarios, utilizando la
                                tecnología y la creatividad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Sección Misión -->

{{/partial}}
{{> layouts/main }}